/*stylelint-disable*/
@tailwind base;
@tailwind components;
@tailwind utilities;
/*stylelint-enable*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Gill Sans', sans-serif;
  background-color: #bfa2db;
  color: white;
}

.coin {
  background-color: #6867ac;
}

.li:nth-child(even) {
  background-color: #bfa2db;
}

.li:nth-child(odd) {
  background-color: #6867ac;
}
